{% extends 'admin.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<h4>Lista Pedidos</h4>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 text-right">
				<div class="row">
					<a href="{{ url('admin_pedido_nuevo') }}" class="btn btn-system btn-per" data-toggle="tooltip" data-placement="bottom" title="Agregar"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- bloque busqueda / filtros -->
				<!-- bloque busqueda / filtros fin-->
				
				<!-- bloque tabla -->
				<div class="row">
					<div class="table-responsive">
						<table id="table_empresa" class="table table-condensed table-hover" data-tbody="{{ url('cargar_pedido_tabla') }}" data-delete="{{ url('admin_pedido_eliminar') }}">
							<thead>
								<tr>
								  <th>Codigo Pedido</th>
								  <th>Nombre Empresa</th>
								  <th>Nombre Vendedor</th>
								  <th>Observaciones</th>
								  <th>Valor neto</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<!-- bloque tabla fin-->
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script src="{{ absolute_url(asset('assets/js/module/empresa/tabla_index.js')) }}"></script>
{% endblock %}