{% extends 'admin.html.twig' %} 

{% block stylesheets %}
{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  #}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"> 
{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <h4>Lista de Productos / Servicios</h4>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <div class="row">
                <a href="{{ url('admin_producto_nuevo') }}" class="btn btn-system btn-per" data-toggle="tooltip" data-placement="bottom" title="Agregar"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- bloque busqueda / filtros -->
            <!-- bloque busqueda / filtros fin-->

            <!-- bloque tabla -->
            <div class="row">
                <div class="table-responsive ">
                    <table id="table_producto" class="table table-hover table-striped" data-tbody="{{ url('cargar_producto_tabla') }}" data-delete="{{ url('admin_producto_eliminar') }}">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Modelo</th>
                                <th>Valor</th>
                                <th style="width:30px">Acciones</th>
                            </tr>
                        </thead>
						{# <tfoot>
							<tr>
							 <th>Nombre</th>
                                <th>Modelo</th>
                                <th>Valor</th>
                                <th>Acciones</th>
							</tr>
						</tfoot> #}
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- bloque tabla fin-->
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ absolute_url(asset('assets/js/module/producto/tabla_index.js')) }}"></script>
{% endblock %}